# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [1]:
num = 7
print(num)

7

##### Assinging float - Float types are decimals

In [2]:
this_float = 7.89
print(this_float)

7.89

#### Performing Calculations on ints and floats

##### Addition (+)

In [5]:
num1 = 4
num2 = 5

results = num1 + num2
print(results)

results += 5
print(results)

results = results + 5
print(results)

9
14
19

##### Subtraction (-)

In [8]:
num3 = 6
num4 = 7

result = num3 - num4
print(result)

result -= 3
print(result)

-1
-4

##### Multiplication (*)

In [9]:
num5 = 10
num6 = 15

result = num5 * num6
print(result)

150

##### Division (/)

In [12]:
num7 = 20
num8 = 5
result = num7/num8
print(result)

result /= 2
print(result)

4.0
2.0

##### Floor Division (//) - Normal division but returns the largest possible integer

In [13]:
num9 = 18
num10 = 7

result = num9//num10
print(result)

2

##### Modulo (%) - Returns the remainder of division

In [15]:
num = 20
num1 = 6
result = num % num1
print(result)

if num % 2 ==0:
    print("Even")

2
Even

##### Exponential (**)

In [17]:
square = 5**2
print(square)

cubed = 5**3
print(cubed)

25
125

### String Input-Output

##### String Assignment

In [ ]:
name = 'Dylan'

print(name)

##### print() <br>
<p>Don't forget about end=' '</p>

In [19]:
name = 'Dylan'
print("My name is: ", name)

print("My name is: ", name, end=" Katina")

My name is:  Dylan
My name is:  Dylan Katina

##### String Concatenation

In [21]:
first = "Sean"
last = "Borland"

fullname = first + " " + last
print(fullname)

Sean Borland

##### Type Conversion

In [23]:
number = "57"

result = 2 - int(number)
print(result)

-55

##### input()

In [24]:
age = input("How old are you?: ")
print(f"You are {age} years old")

You are enter years old

##### format()

In [26]:
age = input("How old are you")
name = "Sean"

result = "Hi {}, you are {} years old".format(name, age)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [31]:
color = "blue"
year = 2020
make = "Honda"
model = "Civic"

print(f"You purchased a {make} {model} that is colored {color} that was made in {year}.")

You purchased a Honda Civic that is colored blue that was made in 2020.

### If Statements

In [33]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

num1 = 15
num2 = 15

if num1 > num2:
    print(f"{num1} is greater than {num2}")
elif num1 == num2:
    print("These values are equal")
else:
    print(f"{num1} is less than {num2}")

These values are equal

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [34]:
num = 50

x = num

if num is x:
    print("yes")
else:
    print("no")

yes

##### 'in' keyword = used to check if a value is present in a sequence

In [40]:
name = "Sean Borland"

if "Sean" in name:
    print("yes")
else:
    print('no')

yes

##### 'not in' keyword'

In [41]:
if "d" not in name:
    print("not in")
else:
    print("in")

in

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [46]:
input = "x"

if "p" in input:
    print(f"{input} is in input")
else:
    print(f"{input} is not in input")

x is not in input

## Using 'and'/'or' with If Statements

In [50]:
name = "Paul"

if "p" in name or "P":
    print("p")
else:
    print("no p")

christian = 'cool'

if christian == 'cool' and 'P' in name:
    print("We lit")
else:
    print("Goofy")

p
We lit

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [51]:
name = "Sean"

for letter in name:
    print(letter)

S
e
a
n

##### Continue Statement

In [ ]:
# will continue to next iteration

for letter in name:
    if letter == 'l':
        continue
    print(letter)

##### Break Statement

In [53]:
# will break out of current loop
for letter in name:
    if letter == "e":
        break
    print(letter)

S

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

for letter in name:
    pass #add later

##### Double For Loops

In [55]:
for num1 in range(5):
    for num2 in range(5):
        print(f"{num1} + {num2} = {num1 + num2}")

0 + 0 = 0
0 + 1 = 1
0 + 2 = 2
0 + 3 = 3
0 + 4 = 4
1 + 0 = 1
1 + 1 = 2
1 + 2 = 3
1 + 3 = 4
1 + 4 = 5
2 + 0 = 2
2 + 1 = 3
2 + 2 = 4
2 + 3 = 5
2 + 4 = 6
3 + 0 = 3
3 + 1 = 4
3 + 2 = 5
3 + 3 = 6
3 + 4 = 7
4 + 0 = 4
4 + 1 = 5
4 + 2 = 6
4 + 3 = 7
4 + 4 = 8

### While Loops

In [56]:
num = 0

while num < 10:
    print(num)
    num +=1

print('finished')

0
1
2
3
4
5
6
7
8
9
finished

##### Looping 'While True'

In [ ]:
num = 0

while True:
    num +=1
    if num >= 10:
        break
    print(num)

##### While & For Loops Used Together

In [58]:
num = 0

while num < 5:
    print("while loop")

    for i in range(2):
        print("For loop")

    num+= 1

print("finished")

whilte loop
whilte loop
For loop
whilte loop
For loop
For loop
whilte loop
For loop
For loop
For loop
whilte loop
For loop
For loop
For loop
For loop
finished

### Built-In Functions

##### range()

In [63]:
#range takes in multiple parameters Start Step Stop Stop

for num in range(3,20,2): #start, stop, step
    print(num)

3
5
7
9
11
13
15
17
19

##### len()

In [64]:
name = "Sean"

length = len(name)

print(length)

4

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [65]:
help(len) #helps with a specific function, len could be any function

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance() - checks if the object is the type

In [67]:
print(isinstance(4.5, float))

num = 2

if isinstance(num, int):
    print("this is an integer")
else:
    print("not an integer")

True
this is an integer

##### abs() - returns the absolute value

In [68]:
print(abs(7-20))

13

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [69]:
try:
    number = 0
    new_num = input("What number am I thinking about?: ")
    if new_num != number:
        new_num += number
        print("your number is: ", new_num)
except:
    print('that did not work')

that did not work

### Lists

##### Declaring Lists

In [71]:
my_list = []

names = ["Jeff", "ron", "dude"]
print(names)

['Jeff', 'ron', 'dude']

##### Indexing a List

In [72]:
print(names[0])

print(names[-1]) #last item on list

Jeff

##### .append()

In [73]:
names.append("jordan")
print(names)

['Jeff', 'ron', 'dude', 'jordan']

##### .insert()

In [74]:
names.insert(2, "Peace")
print(names)

['Jeff', 'ron', 'Peace', 'dude', 'jordan']

##### .pop()

In [78]:
last = names.pop() # takes off last item on list and also inputs it
print(last)
print(names)

another = names.pop(2) #error cuz u need another name
print(another)
print(names)

Peace
['Jeff', 'ron']

IndexError: pop index out of range


##### .remove() - removes element in a list, does not remove duplicates

In [81]:
names.remove('Jeff')
print(names)

['ron']

##### del()

In [ ]:
del(names[2]) #deletes second index of list
print(names)

##### Concatenating Two Lists

In [82]:
l1 = [1,2,3,4,5,6,7]
l2 = [10,20,30,40,50] 

large_list = l1 + l2 #adds two list together
print(large_list)

[1, 2, 3, 4, 5, 6, 7, 10, 20, 30, 40, 50]

##### Lists Within Lists

In [84]:
child = ['this', 'small', 'list']
mother = ['bigger', 'list', child] # unsure

print(mother[2][2])

print(child[2])

list
list

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [92]:
for i in range(1, 11): # stops at 10 instead of 11
    cube = i**3
    if cube > 1000:
        break

    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [106]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


#   extra credit

multiples = [2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in range(1, 101):
    result = (num % i for i in multiples)
    if 0 not in result:
        print(num)

1
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [111]:
trueage = int(input("Please enter your age: "))

if trueage < 18:
    print("Kids")
elif trueage > 17 and trueage < 66:
    print("Adults")
else:
    print("Seniors")


# This code works in VS code but not here for some reason

TypeError: 'str' object is not callable